@font-face {
  font-family: "Roboto";
  src: url(./font/Roboto-Regular.ttf);
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 1200px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
}

nav {
  padding: 20px 0;
}

ul {
  display: flex;
  list-style: none;
  padding: 10px;
}

li {
  padding: 10px;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

/* Partie main */

main {
  position: relative;
}

/*  Section 1 */

.background {
  position: absolute;
  z-index: -1;
  height: 600px;
  width: 100%;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600px;
}
.logo {
  width: 200px;
  height: 70px;
  margin: 20px;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 2.4rem;
  margin: 10px;
}

/* Section 2 */

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  color: rgb(87, 87, 87);
  font-size: 1.5rem;
  text-align: center;
}

.listeSkills {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.skills {
  text-align: center;
  margin: 10px;
}

.avis {
  text-align: center;
  color: rgb(87, 87, 87);
}

.text {
  font-size: 1.5rem;
  margin-top: 30px;
}

.auteur {
  margin-top: 30px;
}

.intro,
.listeSkills {
  margin-top: 30px;
  max-width: 800px;
}
.avis {
  max-width: 800px;
}

.style {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 10px;
}

.legend {
  font-size: 0.8rem;
  padding: 20px;
  margin: 10px;
}
