* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
}

nav {
  padding: 20px 0;
}

ul {
  display: flex;
  list-style: none;
  padding: 10px;
}

li {
  padding: 10px;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}
*/

/* Partie main */

main {
  position: relative;
}

/*  Section 1 */

.background {
  position: absolute;
  z-index: -1;
  height: 600px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600px;
}
.logo {
  width: 200px;
  height: 70px;
  margin: 20px;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 2.4rem;
  margin: 10px;
}
