* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  padding: 20px;
}

li {
  padding: 10px;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}
