@font-face {
  font-family: "Roboto";
  src: url(./font/Roboto-Regular.ttf);
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 1200px;
}

/* Header */
.top {
  display: flex;
  justify-content: space-between;
}

.navigation {
  padding: 20px 0;
}

.navigation ul {
  display: flex;
  padding: 10px;
}

.navigation li {
  padding: 10px;
  list-style: none;
}

.navigation a,
.navigation a:visited {
  text-decoration: none;
  color: black;
}

/* Partie main */

/*  Section 1 */

.section1 {
  position: relative;
  height: 550px;
  width: 100%;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.logoBanner {
  width: 200px;
  height: 70px;
  margin: 20px;
}

.title {
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 2.4rem;
  margin: 10px;
}

/* Section 2 */

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.intro {
  color: rgb(87, 87, 87);
  font-size: 1.5rem;
  width: 800px;
  height: 100%;
  text-align: center;
}

.listeSkills {
  display: flex;
  justify-content: space-around;
  width: 800px;
  height: 100%;
}

.skills {
  text-align: center;
  margin: 10px;
}

.avis {
  text-align: center;
  color: rgb(87, 87, 87);
  width: 800px;
  height: 100%;
}

.text {
  font-size: 1.5rem;
  margin-top: 30px;
}

.auteur {
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro,
.listeSkills {
  margin-top: 30px;
}

.style {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 10px;
}

.legend {
  font-size: 0.8rem;
  padding: 20px;
  margin: 10px;
}

/* footer */

footer {
  background: #5b359d;
}

.name {
  padding-top: 30px;
  color: white;
  font-weight: lighter;
  font-size: 0.6rem;
  text-align: center;
}

.reseaux {
  display: flex;
  justify-content: center;
}

.reseau {
  list-style: none;
}

.reseaux i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.8rem;
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.help {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.liste {
  display: flex;
  flex-direction: column;
}

.title3 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: lighter;
}

.help ul {
  color: white;
  padding-left: 30px;
  font-size: 1rem;
  margin-bottom: 30px;
}

/* Media Queries */

@media screen and (max-width: 400px) {
  /* Header */

  .logoHeader {
    width: 175px;
  }

  .navigation {
    padding: 0;
    margin: auto 0;
  }

  /* Section 1 */

  .section1 {
    height: auto;
  }

  .logoBanner {
    display: none;
  }

  .background {
    display: none;
  }

  .title {
    color: black;
    font-weight: 600;
    font-size: 3.2rem;
    top: 30px;
    margin: 50px 0;
    padding: 30px;
  }

  /* Section 2 */

  .presentation {
    height: auto;
  }

  .intro {
    width: 100%;
    padding: 0;
    margin: 50px 0;
  }

  .listeSkills {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto 0;
  }

  .avis {
    width: 100%;
  }

  /* footer */

  footer {
    width: 100%;
    height: auto;
  }

  .reseaux {
    margin: 30px 0;
  }

  .help {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title3 {
    margin: 10px 0;
  }
}
